<form action="/addBlog" method="post">
    <h2>Add Blog</h2>

    <div>
        <input id="icon_prefix" type="text" name="title">
        <label for="icon_prefix">Title</label>

        <input id="icon_prefix" type="text" name="description">
        <label for="icon_prefix">Description</label>
    </div>

    <button class="waves-effect waves-light btn" type="submit"><i class="material-icons left">add</i>Add</button>

</form>