<div style="padding: 10px;">
    <form action="/addBlog" method="post">
        <h2>Add Blog</h2>

        <div>
            <label for="icon_prefix">Title</label>
            <input id="icon_prefix" type="text" name="title">

            <br><br>

            <label for="icon_prefix">Description</label>
            <textarea id="icon_prefix" name="description" style="resize: vertical;height:250px;"></textarea>
        </div>

        <br>

        <button class="waves-effect waves-light btn" type="submit" style="float: right;">
            <i class="material-icons left">add</i>Add
        </button>

    </form>
</div>